<h1>Informacion Personal</h1>
<h4>Nombre: {{user.name}}</h4>
<h4>Edad: {{user.age}}</h4>
<h4>Direccion: {{user.address}}</h4>
<h4>Telefono: {{user.tel}}</h4>
<img style="width:30%" src={{user.avatar}}>